# Flood Tool Examples

## Placeholder notebook

This notebook is initially set up to allow you to quickly start demonstrating your tool. You should expect it to change a lot over the course of the week as you add features and explore the data.

The majority of your code is likely to be in your package (i.e. the `flood_tool` directory). You should import this package into this notebook and use it to show off the features of your tool.

In [9]:
import sys

# add the path to the flood_tool module so it's always found
# when we import it. Note that '..' means "go up one directory"
# from the current directory. This isn't best practice. If your tool
# can be installed as a package (e.g. with `pip install -e.`), you
# should do that instead.

sys.path.append('...')
import flood_tool as ft

SyntaxError: invalid syntax (tool.py, line 466)

In [7]:
tool = ft.Tool() # equivalent to Tool('../flood_tool/resoures/postcodes_unlabelled.csv')

NameError: name 'ft' is not defined

In [8]:
tool.lookup_easting_northing(['RH16 2QE'])

NameError: name 'tool' is not defined

In [ ]:
# Prediction using postcode and default model
# tool.fit() # fit all the models
tool.predict_flood_class_from_postcode(['PO14 9GQ', 'SW19 1LR', 'BS8 9AE', 'DA12 2WN', 'BN50 9HR', 'BA1 5BL'])

PO14 9GQ    1
SW19 1LR    1
BS8 9AE     1
DA12 2WN    1
BN50 9HR    1
BA1 5BL     3
Name: riskLabel, dtype: int64

In [ ]:
tool.predict_median_house_price(['BA2 6FF'])

BA2 6FF    498459.3125
Name: medianPrice, dtype: float32

In [ ]:
tool.estimate_total_value(['BA2 6FF'])

In [ ]:
tool.predict_historic_flooding(['BA2 6FF'])

BA2 6FF    0
Name: historicallyFlooded, dtype: int64

In [ ]:
tool.estimate_annual_human_flood_risk(['BA2 6FF'])

TypeError: unsupported operand type(s) for /: 'list' and 'list'

We can also use the live data features

In [ ]:
data = ft.get_latest_rainfall_readings()
data.head()

,,value,qualifier,unitName,parameter
stationReference,dateTime,,,,
000008,2024-11-21 23:30:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000028,2024-11-21 23:30:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000075TP,2024-11-21 23:30:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000076TP,2024-11-21 23:30:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000180TP,2024-11-21 23:30:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail

In [ ]:
data = ft.get_live_station_data('079621')
data.head()

,@id,dateTime,measure,value
0,http://environment.data.gov.uk/flood-monitorin...,2024-11-21T23:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
1,http://environment.data.gov.uk/flood-monitorin...,2024-11-21T23:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
2,http://environment.data.gov.uk/flood-monitorin...,2024-11-21T23:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
3,http://environment.data.gov.uk/flood-monitorin...,2024-11-21T22:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
4,http://environment.data.gov.uk/flood-monitorin...,2024-11-21T22:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.4

In [ ]:
live, forecast = ft.get_live_weather_data(51.5, 0.1)
live

            temperature_2m  rain
2024-11-22             0.7   0.0

In [ ]:
forecast.head()

                     temperature_2m  relative_humidity_2m  rain
2024-11-22 00:00:00             0.7                  84.0   0.0
2024-11-22 01:00:00             0.7                  85.0   0.0
2024-11-22 02:00:00             0.8                  84.0   0.0
2024-11-22 03:00:00             0.7                  85.0   0.0
2024-11-22 04:00:00             1.0                  84.0   0.0